<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content
            {{ result }}
            {% if tcomplex %}
                {% for complex in tcomplex %}
                    <p>{{ complex.name }}: <i>{{ complex.description }}</i></p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
